* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 100px;
}

#nav-mobile {
  width: 100%;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  /* left: 50px; */
  height: 100%;
  z-index: 1;
  user-select: none;
  padding-left: 50px;
}

#menuToggle a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 40px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  height: 100vh;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.container-logo-mobile img {
  height: 100px;
  position: absolute;
  top: 5px;
  left: 140px;
}

.accueil-picture {
  background: url("../img//picture-accueil.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.h1-container {
  width: 100%;
  height: 50%;
}

.h1-container h1 {
  padding-top: 2rem;
  text-align: center;
  font-size: 90px;
  color: #ffffff;
}

main {
  width: 75%;
  margin: auto;
}

.container-button {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-try-free {
  background: #266678;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.button-try-free:hover,
.button-try-free:focus {
  background: #266678;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.button-buy {
  border: 2px solid #c4992b;
  box-sizing: border-box;
  border-radius: 8px;
  background: none;
  padding: 0.5rem 4.5rem 0.5rem 4.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.button-buy:hover,
.button-buy:focus {
  border: 2px solid #c4992b;
  box-sizing: border-box;
  border-radius: 8px;
  background: #c4992b;
  padding: 0.5rem 4.5rem 0.5rem 4.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding-top: 2rem;
}

section h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 2rem;
}

section h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2rem;
}

section p {
  font-weight: normal;
  margin-bottom: 2rem;
}

.about-so {
  display: flex;
  flex-wrap: wrap;
}

.learn-more {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.learn-more:hover,
.learn-more:focus {
  text-decoration: underline;
}

.texte-intro-about-so {
  width: 100%;
}

.img-about-so {
  width: 100%;

  padding-top: 2rem;
}

.img-about-so img {
  width: 100%;
}

.shop {
  display: flex;
  flex-wrap: wrap;
}

.software {
  width: 100%;
  margin-bottom: 2rem;
}

.card-software {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background: url("../img/Mockup-boitier-1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.goodies {
  width: 100%;
}

.card-goodies {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background: url("../img/shirth-white-.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.card-news {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background: url("../img/the-weekd.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.news-categorie {
  color: #266678;
  font-weight: bold;
}

.accueil-cta {
  background: #cb7c7a;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container-phone {
  width: 100%;
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-phone {
  color: white;
  font-size: 48px;
}

.container-questions {
  width: 100%;
  height: 33.33%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container-cta {
  width: 100%;
  height: 33.33%;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-cta a {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.container-cta a:hover,
.container-cta a:focus {
  background: white;
  color: #cb7c7a;
}

footer {
  display: flex;
  background: black;
  flex-wrap: wrap;
}
footer p,
footer ul {
  color: white;
}

.footer-container-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  width: 75%;
  justify-content: center;
  margin: 2rem auto;
}

#logo-blanc-footer {
  width: 75%;
}

.footer-container-pages {
  align-items: center;
  vertical-align: middle;
  width: 75%;
  justify-content: center;
  margin: 2rem auto;
}

.footer-container-pages h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
}

.footer-container-pages li {
  list-style: none;
  padding: 0.5ch;
  font-weight: lighter;
}

.footer-container-pages ul {
  margin-bottom: 2rem;
}

.footer-container-social {
  width: 75%;
  margin: auto;
}

.footer-container-social label {
  color: white;
}

.footer-container-social p {
  margin-bottom: 1rem;
}

.footer-container-social input {
  background: none;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.5rem 0 1rem 0;
}

.newsletter {
  width: 100%;
  text-align: center;
}
.newsletter h3 {
  color: white;
}

.social {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}

.social div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img {
  width: 60%;
  color: white;
}

.after-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
}

.accueil-about {
  background: url("../img/possessed-photography-g29arbbvPjo-unsplash.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.h1-container-about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-container-about h1 {
  padding-top: 2rem;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}

.about-so {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.about-so-texte {
  width: 100%;
}

.about-so-video {
  width: 100%;
}

.about-so-video iframe {
  width: 100%;
  margin: 1rem 0;
}

.about-so-texte h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.about-so-musique {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-so-musique-texte {
  width: 100%;
}

.about-so-musique-texte h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.about-so-musique-img {
  width: 100%;
}

.about-so-musique-img img {
  width: 100%;
}

.about-so-instruments {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-so-instruments-texte {
  width: 100%;
}

.about-so-instruments-texte a {
  color: black;
}

.about-so-instruments-texte h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.about-so-instruments-img {
  width: 100%;
}

.about-so-instruments-img img {
  width: 100%;
}

.about-so-novation {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-so-novation-texte {
  width: 100%;
}

.about-so-novation-texte a {
  color: black;
}

.about-so-novation-texte h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.about-so-novation-img {
  width: 100%;
  margin: 2rem 0;
}

.about-so-novation-img img {
  width: 100%;
}
